.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    /* width: 0px;
    height: 30px; */
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #eee;
    border-color: #eee;
}

.pagination button.active {
    box-shadow: 0px 0px 7px white;
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}